*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}

/* styling nav section */

.nav-section{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 18vh;
    width: 100%;
    background-color: #264653;
}


.nav-menu{
    display: flex;
    margin: 0px 20px;
    font-size:16px;
    justify-content: space-between;
    gap:50px;
    cursor: pointer;
}


ul > li > a{
    text-decoration: none;
    color:white;
    list-style:none;
}

ul li{
    list-style: none;
}

.nav-button{
    background-color:#E76F51;
    color: white;
    margin: 100px;
    padding: 8px 25px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.nav-button:hover{
    background-color: #8b4938;
}
/* descripsion banner styling */

.banner-description{
    height:95vh;
    background-color:#264653;
    display: flex;
    align-items:start;
}

.banner-title{
    width: 40%;
    color: white;
    margin-left: 80px;
}

.title-text-1{
    margin: 150px 0px 0px 0px;
    font-weight:300;
}

.title-text-2{
    font-size: 50px;
    font-weight:500;
    margin: 10px 0;
}

.title-text-3{
    margin: 10px 0px;
    font-weight:300;
}

.title-button{
    padding: 10px 50px;
    margin: 10px 0;
    color: white;
    font-size:medium;
    background-color: #E76F51;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.title-button:hover{
    background-color: #8b4938;
}

.banner-avatar{
    width: 500px;
    margin: 50px 75px;
}
/* fetured bike area styling */

.fetured-bikes-section{
    height: 90vh;
}

.fetured-bikes-head{
    text-align: center;
}
.bikes-title{
    text-align: center;
}


.fetured-bikes-title{
    color: black;

}


.fetured-bikes-head{
    font-size: 50px;
    font-weight:600;
    margin: 65px 0px 0px 0px;
    align-items: center;
}

.bikes-title{
    font-size: small;
    font-weight:550;
    color:#dc3545;
}

.bikes-dash{
    width:78px;
    margin: auto;
    text-align: center;
    border-color: #dc3545;
    opacity:0.2;
}


.featured-bikes-images {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin: 100px;
}

.featured-bike-sample {
    width: 250px;
}

.filter{
    filter: grayscale(100%);
}

/* latest news styling */

.latest-news{
    display: flex;
    justify-content: space-between;
    margin: 100px;
    gap: 90px;
}

.bike-detail-1{
    display: flex;
    width: 300px;
}

.bike-detail-2{
    display: flex;
    width:300px;
}
.bike-detail-3{
    display: flex;
    width: 300px;
}

.bike-summary1{
    padding:10px 10px 0px 10px;
    height:100%;
    width:100%;
    border: 1px solid rgb(216, 214, 214);
    border-radius: 4px;
}

.bike-summary2{
    padding:10px 10px 0px 10px;
    height:100%;
    width:100%;
    border: 1px solid rgb(216, 214, 214);
    border-radius: 4px;
}


.bike-summary3{
    padding:10px 10px 0px 10px;
    height:100%;
    width:100%;
    border: 1px solid rgb(216, 214, 214);
    border-radius: 4px;
}

.latest-nest-caption{
    text-align: center;
    font-size: 50px;
    font-weight:500;
}

.summary1-button{
    font-size: 20px;
    padding: 5px 10px;
    background-color:white;
    color: #E76F51;
    border-style: solid;
    border-color:#E76F51;
    border-width: 1px;
    border-radius:5px;
    margin: 112px auto 15px 15px;
}
.summary1-button:hover{
    background-color: #E76F51;
    color: white;
}

.summary2-button{
    font-size: 20px;
    padding: 5px 10px;
    background-color:white;
    color: #E76F51;
    border-style: solid;
    border-color:#E76F51;
    border-width: 1px;
    border-radius:5px;
    margin: 136px auto 15px 15px;
}
.summary2-button:hover{
    background-color: #E76F51;
    color: white;
}

.summary3-button{
    font-size: 20px;
    padding: 5px 10px;
    background-color:white;
    color: #E76F51;
    border-style: solid;
    border-color:#E76F51;
    border-width: 1px;
    border-radius:5px;
    margin: 90px auto 15px 15px;
}
.summary3-button:hover{
    background-color: #E76F51;
    color: white;
}

/* happy clients section styling */

.happy-client{
    height: 100vh;
}


.clients{
    display: flex;
    gap:35px;
    margin:100px;
    align-items: center;
}


.user{
    width:130px;
    margin:50px 0px 0px 0px;
}
.user-2{
    width:130px;
    margin:50px 0px 0px 0px;
}
.user-3{
    width:130px;
    border-radius: 100%;
    margin:50px 0px 0px 0px;
}

.clients-head{
    text-align: center;
    font-size: 45px;
}
.client-text-color-cng{
    color:#E76F51;
}

.client-1{
    width:650px;
    height:85vh;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    align-items: center;
    text-align:center;
    padding: 10px 10px 100px 10px;
    color: #6c757d;
}

.fa-icon{
    color: #E76F51;
    margin:20px 0px 0px 0px;
}

.user-detail{
    line-height:32px;
    padding: 0px 30px;
}

.user-detail2{
     color:#23A6F0;
     font-weight:500;
}

.user-detail3{
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding:0px 0px 10px 0px;
    margin-top: 35px;
}
